node_modules/
dist/
.next/
coverage/
.turbo/
*.log
.env
.env.local
.env.*.local
apps/web/public/sw.js
apps/web/public/sw.js.map
apps/web/public/workbox-*.js
apps/web/public/workbox-*.js.map
apps/web/public/worker-*.js
apps/web/public/fallback-*.js
apps/api/prisma/*.db
.DS_Store
.vscode/
.idea/
*.tsbuildinfo
keys/
